:root {
  --bgClr: #fefae0;
  --fontClr: #606c38;
  --headerBgClr: #283618;
  --headerFontClr: #dda15e;
  --headerFontFamily: "Fuzzy Bubbles", cursive;
  --font: "Quicksand", sans-serif;
}

/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgClr);
  color: var(--fontClr);
  font-family: var(--font);
}

/* HEADER */

.header {
  padding: 15px;
  background-color: var(--headerBgClr);
  color: var(--headerFontClr);
  font-family: var(--headerFontFamily);
  border: 2px solid goldenrod;
  margin-bottom: 20px;
}

.title {
  font-size: 64px;
  text-align: center;
}

/* BOARD */

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 402px;
  height: 402px;
  margin: 0px auto;
}

.block {
  width: 134px;
  height: 134px;
  border: 2px solid var(--headerBgClr);
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
