:root {
  --bgClr: #fefae0;
  --fontClr: #606c38;
  --headerBgClr: #283618;
  --headerFontClr: #dda15e;
  --headerFontFamily: "Fuzzy Bubbles", cursive;
  --font: "Quicksand", sans-serif;
}

/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--bgClr);
  color: var(--fontClr);
  font-family: var(--font);
  line-height: 1.6;
  margin-bottom: 50px;
}

h1 {
  line-height: 1.2;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* HEADER */

.header {
  padding: 15px;
  background-color: var(--headerBgClr);
  color: var(--headerFontClr);
  font-family: var(--headerFontFamily);
  border: 2px solid goldenrod;
}

.title {
  font-size: 64px;
  text-align: center;
}

/* MAIN */

.main {
  padding: 0 20px;
}

.message {
  padding: 20px 0;
  font-size: 42px;
  text-align: center;
}

/* BOARD */

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 402px;
  height: 402px;
  margin: 0px auto;
}

.block {
  width: 134px;
  height: 134px;
  border: 2px solid var(--headerBgClr);
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.block:hover {
  background-color: var(--headerFontClr);
}

.restart {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.restart-button {
  padding: 10px 20px;
  border: 3px solid var(--headerBgClr);
  border-radius: 4px;
  background-color: var(--headerFontClr);
  color: var(--headerBgClr);
  font-size: 32px;
}

.restart-button:hover {
  background-color: var(--headerBgClr);
  color: var(--bgClr);
}

.restart-button:active {
  background-color: var(--headerBgClr);
  color: var(--headerFontClr);
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: var(--textClr);
  background-color: var(--titleFooterArea);
  border: 1px solid var(--borderClr);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fa-github {
  color: var(--headerBgClr);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-linkedin {
  color: var(--headerBgClr);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-wordpress {
  color: var(--headerBgClr);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.fa-linkedin:hover {
  transform: rotate(360deg) scale(1.2);
}

.fa-wordpress:hover {
  transform: rotate(360deg) scale(1.2);
}
